<footer>
    <div class="column">
        <div class="logo">
            <img src="/static/img/logo it house png.png" alt="Logo" />
            <div class="logo-text">
                <span>IT HOUSE</span>
                <span>LEARNING CENTER</span>
            </div>
        </div>
    </div>

    <div class="column">
        <h3 class="foooterh3">ENGLISH MAX Learning Center</h3>
        <div class="footer-links">
            <div>
                <a href="#team">Teachers ↗</a>
                <a class="#kurslar" href="#">Courses ↗</a>
            </div>
            <div class="column2">
                <a href="#intro">Branches ↗</a>
                <a class="column1" href="#">Biz bilan yuksaling</a>
            </div>
        </div>
    </div>

    <div class="column">
        <h3 class="foooterh3">Our contacts</h3>
        <a href="#Tel:+998 97 270 27 27">
            <div class="contacts">📞 +998 97 270 27 27</div>
        </a>
    </div>

    <div class="column">
        <h3 class="foooterh3">Our social media</h3>
        <div class="social-icons">
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-telegram"></i>
        </div>
        <a href="#kurslar">
            <button class="payment-button">Online Kurslar</button>
        </a>

    </div>
</footer>

<div class="footer-bottom">
    <div class="footer-bottom-content">
        <div>Copyright © 2024 IT HOUSE LLC. All Rights Reserved</div>
        <div class="public-offer">Public offer</div>
    </div>
</div>