<footer>
    <div class="container">
        <div class="footer-main">
            <div class="footer-main-mini">
                <h3 class="green-heading accordion">Ma'lumotlar</h3>
                <ul>
                    <li><a href="#">Bosh sahifa</a></li>
                    <li><a href="#">Kurslar</a></li>
                    <li><a href="#">Mentorlar</a></li>
                    <li><a href="#">Bitiruchilar</a></li>
                    <li><a href="#">Aloqa</a></li>
                </ul>
            </div>
            <div class="footer-main-mini">
                <h3 class="green-heading accordion">Yo'nalishlar</h3>
                <ul>
                    <li><a href="#">Foundation</a></li>
                    <li><a href="#">Foundation kids</a></li>
                    <li><a href="#">Grafik dizayn</a></li>
                    <li><a href="#">Web Frontend</a></li>
                </ul>
            </div>
            <div class="footer-main-mini">
                <h3 class="green-heading accordion">Aloqa</h3>
                <p>Bizning ijtimoiy tarmoqlarimizga obuna bo'ling va o'quv markazimizning ohirgi ma'lumotlardan xabardor bo'ling</p>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-phone"></i>(480) 555-0103</a></li>
                    <li><a href="#"><i class="fa-solid fa-location-dot"></i>4517 Washington Ave. Manchester, Kentucky 39495</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i>debra.holt@example.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-info container">
            <p>Made With I.Olimov, All Right Reserved </p>
            <div class="social-m footer-link">
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>
