{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="intro">
    <div class="intro_left">
        <h3 class="green-heading">Biz bilan kelajakni o‘zgartiring!</h3>
        <h1>+2500 talabalar bizni tanlashdi!</h1>
        <p>Har bir kun – yangi bilimlar va imkoniyatlar sari bir qadam. Ingliz tilini o‘rganing, IT sohasida yetakchiga aylaning va orzularingizni ro‘yobga chiqaring!</p>
        <a class="intro_link" href="https://ithouse.edutizim.uz/order/entry/?survey=s33">Hozir qo‘shiling</a>
        <a class="learn_more" href="#" >Batafsil bilib oling</a>
    </div>
    <img src="{% static 'img/intro.png' %}" alt="" width="560" height="514">
</section>

<section class="container">
    <h1 class="Oqish">Nima uchun “IT house ”da o‘qish kerak?</h1>
    <div class="cardsH">
      <div class="cardH">
        <h2>🧑‍💻 Bepul kovorking</h2>
        <p>24/7 formatida tun-u kun ishlaydigan bepul kovorking va wifi.</p>
      </div>
      <div class="cardH">
        <h2>📚 Sifatli ta'lim</h2>
        <p>Doimiy yangilanib boradigan kurslar va katta tajribaga ega ustozlar.</p>
      </div>
      <div class="cardH">
        <h2>⚡ Doimiy musobaqalar</h2>
        <p>Dasturlash, dizayn va marketing sohalari bo‘yicha haftalik sovrinli musobaqalar.</p>
      </div>
      <div class="cardH">
        <h2>🎯 Bepul mahorat darslari</h2>
        <p>Soha mutaxassislari bilan doimiy o‘tkaziladigan bepul master-klasslar.</p>
      </div>
      <div class="cardH">
        <img  src="/static/img/cooin (1).png" alt="">
        <h2>Coin tizimi</h2>
        <p>"IT HOUSE" barcha o'quvchilari uchun coin tizimi mavjud</p>
      </div>
      <div class="cardH">
        <h2>📜 Sertifikat</h2>
        <p>Kursni muvaffaqiyatli tamomlagan o‘quvchilar “Najot Ta’lim”ning diplomi va sertifikatiga ega bo‘ladi.</p>
      </div>
    </div>
  </section>


<div class="faq container">
    <h1>Ko'p so'raladigan savollar</h1>

    <div class="faq-item">
        <div class="faq-icon">?</div>
        <div class="faq-content">
            <h2>Kurslar qachon boshlanadi?</h2>
            <p>Har oy boshida yangi guruhlar ochiladi.</p>
        </div>
    </div>

    <div class="faq-item">
        <div class="faq-icon">?</div>
        <div class="faq-content">
            <h2>To'lovni qanday amalga oshirish mumkin?</h2>
            <p>Naqd, karta orqali yoki online to'lovlar qabul qilinadi.</p>
        </div>
    </div>

    <div class="faq-item">
        <div class="faq-icon">?</div>
        <div class="faq-content">
            <h2>Darslar oflaynmi yoki onlayn?</h2>
            <p>Har ikkala format mavjud – o'zingizga qulayini tanlashingiz mumkin.</p>
        </div>
    </div>
</div>

<section class="team-section-t" id="team">
        
    <div class="carousel-wrapper-t">
        <h2 class="teacherh2">Bizning Jamoa</h2>
      <div class="carousel-track-t" id="carouselTrack-t">
        {%  for oqituvchilar in oqituvchilar %}
        <div class="card-t"><img src="{{ oqituvchilar.image.url }}" alt="">
            <h3>{{ oqituvchilar.fullname }}</h3>
            <p>{{ oqituvchilar.job }}</p>
        </div>
        {% endfor %}
       
        
      </div>
    </div>
  </section>

<div class="carousel-wrapper ">
    <h1 class="Lavha">IT House Lavhalari</h1>

   

        <div class="carousel">
          {% for video in videos %}
            <div class="cardV">
              <video src="{{ video.video_file.url }}" preload="none" {% if video.poster_video %}poster="{{ video.poster_video.url }}"{% endif %}></video>
              <button class="play-button">&#9658;</button>
              <div class="name-tag">{{ video.title }}</div>
            </div>
          {% endfor %}
        
          
     
        

            
          </div>
          
    
  </div>

  <div class="container" id="kurslar">
    <div class="title">
        Kurslar
    </div>
    <div class="grid">
        <!-- First row: 3 cards -->
        <a href="design.html" class="cardN computer">
            <div class="cardN-content">
                <img src="https://plus.unsplash.com/premium_photo-1720287601300-cf423c3d6760?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHByb2dyYW1taW5nJTIwZm91bmRhdGlvbnxlbnwwfHwwfHx8MA%3D%3D"
                    alt="Kompyuter savodxonligi" class="cardN-img">
                <div class="cardN-text">
                    <div class="topic">Kompyuter savodxonligi</div>
                    <div class="courses">2 oy</div>
                </div>
            </div>
            <div class="info-section">
                <div class="format-container">
                    <div class="info-item online">
                        <i class="fas fa-laptop"></i>
                        <span>Online</span>
                    </div>
                    <div class="info-item offline">
                        <i class="fas fa-building"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="management.html" class="cardN frontend">
            <div class="cardN-content">
                <img src="React_b10c4f5c-5fcb-4a78-a333-f981085b81f7.webp" alt="Frontend dasturlash" class="cardN-img">
                <div class="cardN-text">
                    <div class="topic">Frontend dasturlash</div>
                    <div class="courses">6 oy</div>
                </div>
            </div>
            <div class="info-section">
                <div class="format-container">
                    <div class="info-item online">
                        <i class="fas fa-laptop"></i>
                        <span>Online</span>
                    </div>
                    <div class="info-item offline">
                        <i class="fas fa-building"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="programming.html" class="cardN backend">
            <div class="cardN-content">
                <img src="Python_279793f4-74b5-40eb-ad5a-3458c8f7b1cc.webp" alt="Backend dasturlash" class="cardN-img">
                <div class="cardN-text">
                    <div class="topic">Backend dasturlash</div>
                    <div class="courses">6 oy</div>
                </div>
            </div>
            <div class="info-section">
                <div class="format-container">
                    <div class="info-item online">
                        <i class="fas fa-laptop"></i>
                        <span>Online</span>
                    </div>
                    <div class="info-item offline">
                        <i class="fas fa-building"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="business.html" class="cardN english">
            <div class="cardN-content">
                <img src="https://plus.unsplash.com/premium_photo-1674591172569-834e3c928c3d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Ingliz tili" class="cardN-img">
                <div class="cardN-text">
                    <div class="topic">Ingliz tili</div>
                    <div class="courses">8 oy</div>
                </div>
            </div>
            <div class="info-section">
                <div class="format-container">
                    <div class="info-item online">
                        <i class="fas fa-laptop"></i>
                        <span>Online</span>
                    </div>
                    <div class="info-item offline">
                        <i class="fas fa-building"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="audio.html" class="cardN russian">
            <div class="cardN-content">
                <img src="https://plus.unsplash.com/premium_photo-1675865395368-538e9b779847?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8UlVTU0lBTiUyMGZsYWd8ZW58MHx8MHx8fDA%3D"
                    alt="Rus tili" class="cardN-img">
                <div class="cardN-text">
                    <div class="topic">Rus tili</div>
                    <div class="courses">8 oy</div>
                </div>
            </div>
            <div class="info-section">
                <div class="format-container">
                    <div class="info-item online">
                        <i class="fas fa-laptop"></i>
                        <span>Online</span>
                    </div>
                    <div class="info-item offline">
                        <i class="fas fa-building"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="audio.html" class="cardN russian">
            <div class="cardN-content">
                <img src="https://plus.unsplash.com/premium_photo-1675865395368-538e9b779847?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8UlVTU0lBTiUyMGZsYWd8ZW58MHx8MHx8fDA%3D"
                    alt="Rus tili" class="cardN-img">
                <div class="cardN-text">
                    <div class="topic">Kids English</div>
                    <div class="courses">8 oy</div>
                </div>
            </div>
            <div class="info-section">
                <div class="format-container">
                    <div class="info-item online">
                        <i class="fas fa-laptop"></i>
                        <span>Online</span>
                    </div>
                    <div class="info-item offline">
                        <i class="fas fa-building"></i>
                        <span>Offline</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- <section id="section_6">
    <div class="section_6-main container">
        <div class="section_6-main-info">
            <h3 class="green-heading">Practice Advice</h3>
            <h2 class="main-heading">Every Client Matters</h2>
            <hr class="line">
            <p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
        <div class="customers">
            <div class="customers-saying">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <blockquote>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</blockquote>
                <div class="customers-saying-account">
                    <img src="{% static 'img/avatar.webp' %}" alt="avatar" width="80" height="80">
                    <div class="customers-saying-account-info">
                        <h3 class="green-heading">Regina Miles</h3>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>

            <div class="customers-saying">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <blockquote>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</blockquote>
                <div class="customers-saying-account">
                    <img src="{% static 'img/avatar.webp' %}" alt="avatar" width="80" height="80">
                    <div class="customers-saying-account-info">
                        <h3 class="green-heading">Regina Miles</h3>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>

            <div class="customers-saying">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <blockquote>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</blockquote>
                <div class="customers-saying-account">
                    <img src="{% static 'img/avatar.webp' %}" alt="avatar" width="80" height="80">
                    <div class="customers-saying-account-info">
                        <h3 class="green-heading">Regina Miles</h3>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->






<script>
    document.addEventListener("DOMContentLoaded", () => {
      const cards = document.querySelectorAll('.cardV');
    
      cards.forEach((card, index) => {
        const video = card.querySelector('video');
        const button = card.querySelector('.play-button');
        
        if (!video || !button) return;
    
        button.addEventListener('click', () => {
          stopAllVideosExcept(index);
          video.play();
          video.controls = true;
          button.style.display = 'none';
        });
    
        video.addEventListener('click', () => {
          if (video.paused) {
            stopAllVideosExcept(index);
            video.play();
          } else {
            video.pause();
          }
        });
    
        video.addEventListener('pause', () => {
          button.style.display = 'flex';
        });
    
        video.addEventListener('ended', () => {
          button.style.display = 'flex';
          video.controls = false;
          video.currentTime = 0;
        });
      });
    
      function stopAllVideosExcept(currentIndex) {
        const allVideos = document.querySelectorAll('video');
        const allButtons = document.querySelectorAll('.play-button');
    
        allVideos.forEach((v, i) => {
          if (i !== currentIndex) {
            v.pause();
            v.currentTime = 0;
            v.controls = false;
            allButtons[i].style.display = 'flex';
          }
        });
      }
    });
    </script>
    
{% endblock %}