{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="intro">
    <div class="intro_left">
        <h3 class="green-heading">Biz bilan kelajakni o‘zgartiring!</h3>
        <h1>+2500 talabalar bizni tanlashdi!</h1>
        <p>Har bir kun – yangi bilimlar va imkoniyatlar sari bir qadam. Ingliz tilini o‘rganing, IT sohasida yetakchiga aylaning va orzularingizni ro‘yobga chiqaring!</p>
        <a class="intro_link" href="#">Hozir qo‘shiling</a>
        <a class="learn_more" href="#" >Batafsil bilib oling</a>
    </div>
    <img src="{% static 'img/intro.png' %}" alt="" width="560" height="514">
</section>
<section id="section_2">
    <main>

        <div class="wrapper">
            <h1>IT HOUSE qanday ishlaydi?</h1>
            <div class="card-wrapper">
                <div class="card card1">
                    <div class="card_flex">

                        <div class="number">
                            <h1>1</h1>
                        </div>
                        <h2 class="h2">O'zingizga mos <br> kursni tanlaysiz</h2>
                    </div>
                    <img src="static/img/photo 1.webp" alt="Kurs tanlash rasmi" class="img1">
                </div>
                <div class="card card2">
                    <div class="card_flex card2">

                        <div class="number">
                            <h1>2</h1>
                        </div>
                        <h2>Berilgan darslarni <br> o'rganib, vazifalarni <br> bajarasiz.
                        </h2>
                    </div>
                    <img src="static/img/photo 2.webp" alt="Kurs tanlash rasmi" class="img2">
                </div>
                <div class="card card3">
                    <div class="card_flex">

                        <div class="number">
                            <h1>3</h1>
                        </div>
                        <h2 class="h22">Kurs ohirida <br> sertifikatga ega bo'lasiz</h2>
                    </div>
                    <img src="static/img/photo 3.png" alt="Kurs tanlash rasmi" class="img3">
                </div>

            </div>
            <div class="card-mein">
                <div class="card-m">
                    <h1>Umumiy o'quvchilar soni
                        <p class="jsp">0</p>
                    </h1>

                </div>
                <div class="card-m">
                    <h1>Yozilgan darslar soni
                        <p class="jsp1">+0</p>
                    </h1>

                </div>
                <div class="card-m">
                    <h1>O'rtacha jamoaviy tajriba
                        <p class="jsp2">0</p>
                    </h1>

                </div>
            </div>
        </div>

    </main>
</section>
<section id="section_3">
    <div class="section_3-main container">
        <div class="section_3-main_mini">
            <h5>15K</h5>
            <p>Happy Customers</p>
        </div>
        <div class="section_3-main_mini">
            <h5>150K</h5>
            <p>Monthly Visitors</p>
        </div>
        <div class="section_3-main_mini">
            <h5>15</h5>
            <p>Countries Worldwide</p>
        </div>
        <div class="section_3-main_mini">
            <h5>100+</h5>
            <p>Top Partners</p>
        </div>
    </div>
</section>
<section id="section_4">
    <div class="section_4-main container">
        <div class="section_4-left">
            <h2 class="main-heading">Every Client Matters</h2>
            <hr class="line">
            <p>Problems trying to resolve the conflict between the two major realms of Classical physics: <br> Newtonian mechanics </p>
            <a href="#">Learn More <i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <img src="{% static 'img/section-4.png' %}" alt="boy" width="513" height="424">
    </div>
</section>
<section id="section_5">
    <div class="section_5-main container">
        <div class="section_5-info">
            <h3 class="green-heading">Practice Advice</h3>
            <h2 class="main-heading">Our Popular Courses</h2>
            <hr class="line">
            <p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
        <div class="section_5-cards">
            <div class="section_5-card">
                <div class="section_5-card-sale-1">
                    <div class="sale">
                        <h6>Sale</h6>
                    </div>
                    <div class="section_5-card-sale-menu">
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="section_5-card-info">
                    <div class="section_5-card-info-top">
                        <h5>Training Courses</h5>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <p>4.9</p>
                        </div>
                    </div>
                    <h6>Get Quality Education</h6>
                    <p class="card-text">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
                    <p class="sold"><i class="fa-solid fa-download"></i> 15 Sales</p>
                    <div class="cost">
                        <p>$16.48</p>
                        <p class="low">$6.48</p>
                    </div>
                    <a href="#">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="section_5-card">
                <div class="section_5-card-sale-2">
                    <div class="sale">
                        <h6>Sale</h6>
                    </div>
                    <div class="section_5-card-sale-menu">
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="section_5-card-info">
                    <div class="section_5-card-info-top">
                        <h5>Training Courses</h5>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <p>4.9</p>
                        </div>
                    </div>
                    <h6>Get Quality Education</h6>
                    <p class="card-text">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
                    <p class="sold"><i class="fa-solid fa-download"></i> 15 Sales</p>
                    <div class="cost">
                        <p>$16.48</p>
                        <p class="low">$6.48</p>
                    </div>
                    <a href="#">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="section_5-card">
                <div class="section_5-card-sale-3">
                    <div class="sale">
                        <h6>Sale</h6>
                    </div>
                    <div class="section_5-card-sale-menu">
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="section_5-card-sale-menu-shape">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="section_5-card-info">
                    <div class="section_5-card-info-top">
                        <h5>Training Courses</h5>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <p>4.9</p>
                        </div>
                    </div>
                    <h6>Get Quality Education</h6>
                    <p class="card-text">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
                    <p class="sold"><i class="fa-solid fa-download"></i> 15 Sales</p>
                    <div class="cost">
                        <p>$16.48</p>
                        <p class="low">$6.48</p>
                    </div>
                    <a href="#">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section_6">
    <div class="section_6-main container">
        <div class="section_6-main-info">
            <h3 class="green-heading">Practice Advice</h3>
            <h2 class="main-heading">Every Client Matters</h2>
            <hr class="line">
            <p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
        <div class="customers">
            <div class="customers-saying">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <blockquote>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</blockquote>
                <div class="customers-saying-account">
                    <img src="{% static 'img/avatar.webp' %}" alt="avatar" width="80" height="80">
                    <div class="customers-saying-account-info">
                        <h3 class="green-heading">Regina Miles</h3>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>

            <div class="customers-saying">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <blockquote>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</blockquote>
                <div class="customers-saying-account">
                    <img src="{% static 'img/avatar.webp' %}" alt="avatar" width="80" height="80">
                    <div class="customers-saying-account-info">
                        <h3 class="green-heading">Regina Miles</h3>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>

            <div class="customers-saying">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <blockquote>Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</blockquote>
                <div class="customers-saying-account">
                    <img src="{% static 'img/avatar.webp' %}" alt="avatar" width="80" height="80">
                    <div class="customers-saying-account-info">
                        <h3 class="green-heading">Regina Miles</h3>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section_7">
    <div class="section_7-main container">
        <div class="section_6-main-info">
            <h3 class="green-heading">Team</h3>
            <h2 class="main-heading">Our Experts Teacher</h2>
            <hr class="line">
            <p>Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
        <div class="team_mates">
            {% for oqituvchilar in oqituvchilar %}
            <div class="member">
                <div class="member-avatar">
                    <img src="{{ oqituvchilar.image.url }}" alt="team_mates" width="150" height="150">
                </div>
                <h3 class="green-heading">{{ oqituvchilar.fullname }}</h3>
                <p>{{ oqituvchilar.job }}</p>
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="section_8">
    <div class="section_6-main-info">
        <h3 class="green-heading">Newsletter</h3>
        <h2 class="main-heading">Watch our Courses</h2>
        <hr class="line">
        <p>Kurslar haqida to'liq ma'lumotga
            ega bo'lishni istasangiz
            formani to'ldiring</p>
        <form action="">
            <input type="email" placeholder="Your Email"> 
            <button>Subscribe</button>
        </form>
    </div>
</section>

<script>
    
let son = document.querySelector(".jsp");
let son1 = document.querySelector(".jsp1");
let son3 = document.querySelector(".jsp2");


let start = 1000;
let end = 6453;

let duration = 10; 
let stepTime = Math.floor(duration / end);


let counter = setInterval(function () {
  start++;
  son.textContent = "+" + start;

  if (start == end) {
    clearInterval(counter); 
  }
}, stepTime );

let start1 = 0;
let end1 = 245;

let duration1 = 5000; 
let stepTime1 = Math.floor(duration1 / end1);


let counter1 = setInterval(function () {
  start1++;
  son1.textContent = "+" +  start1;

  if (start1 == end1) {
    clearInterval(counter1); 
  }
}, stepTime1);

let start3 = 0;
let end3 = 5; 

let duration3 = 5000; 
let stepTime3 = Math.floor(duration3 / end3);


let counter3 = setInterval(function () {
  start3++;
  son3.textContent = "+" +  start3+ "  " + "yil";

  if (start3 == end3) {
    clearInterval(counter3); 
  }
}, stepTime3);
</script>
{% endblock %}