<div id="navigation" class="navigation">
    <header >
        <nav class="container">
            <div class="nav_left">
                <img src="/static/img/logo it house png.png" alt="" width="50" height="50" style="background-color: blue; border-radius: 10px; margin-right: 10px;">
                <ul>
                    <li><a href="#intro">Bosh sahifa</a></li>
                    <li><a href="#kurslar">Kurslar</a></li>
                    <li><a href="#team">Mentorlar</a></li>

                    <li><a href="#navigation">Aloqa</a></li>
                    <li><a href="Tel:+998331443626">+998 33 762 27 27 </a></li>
                    
    
                </ul>
            </div>
            <div class="nav_right">
                <!-- <a class="login" href="#">Login</a> -->
                <a class="mega-btn" href="https://ithouse.edutizim.uz/order/entry/?survey=s33">Kursga Yozilish<i class="fa-solid fa-arrow-right"></i></a>

               
            </div>
           
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    
            <!-- Tepadagi menyu -->
            <div class="mobile-menu" id="mobileMenu">
              <div class="close-btn" onclick="toggleMenu()">✖</div>
              <a href="#intro">🏠 Bosh sahifa</a>
              <a href="#kurslar" onclick="toggleMenu()"> 📚 Kurslar</a>
              <a href="#team">  👥 Mentorlar</a>
              <a href="#section_8">📞 Aloqa</a>
            </div>
          
            <!-- Asosiy kontent -->
           
        </nav>
    </header>
</div>
<script>
    let lastScrollY = window.scrollY;
  const header = document.querySelector('header');
  const mobileMenu = document.getElementById('mobileMenu');

  window.addEventListener('scroll', () => {
    const isMenuOpen = mobileMenu.classList.contains('open'); // ochilganmi?

    if (!isMenuOpen) {
      if (window.scrollY > lastScrollY && window.scrollY > 100) {
        header.classList.add('hide');
      } else {
        header.classList.remove('hide');
      }
    }

    lastScrollY = window.scrollY;
  });

  // menyuni ochish-yopish funksiyasi
  function toggleMenu() {
    mobileMenu.classList.toggle('open');
  }
  </script>
