
<header>
    <nav class="container">
        <div class="nav_left">
            <a class="logo" href="#">Codelify</a>
            <ul>
                <li><a href="#">Bosh sahifa</a></li>
                <li><a href="#">Kurslar</a></li>
                <li><a href="#">Mentorlar</a></li>
                <li><a href="#">Aloqa</a></li>
            </ul>
        </div>
        <div class="nav_right">
            <a class="login" href="#">Login</a>
            <a class="join" href="#">JOIN US <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <a id="menu_bar" href="#">
            <i class="fa-solid fa-bars-staggered"></i>
        </a>
    </nav>
</header>
